@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

body{
  font-family: 'Montserrat', 'sans-serif';
}
.overlay-1 {
  background-color: transparent;
  position: fixed;
  backdrop-filter: blur(1px);
  left: 95%;
  top: 45%;
  transform: translateY(-55px);
  width: 5%;
  height: 19%;
  border-radius: 20px 0px 0px 20px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

@media (max-width: 992PX){
  .overlay-1{
    display:none ;
  }
}
  
#mail_side {
  position: absolute;
  width: 2.5rem;
  top: 2rem;
  left: 0.9rem;
  color: black;
}

#linkedin_side {
  position: absolute;
  width: 2.5rem;
  top: 6.5rem;
  left: 1rem;
  color: black;
}

#github_side {
  position: absolute;
  width: 2.5rem;
  top: 11.5rem;
  left: 1rem;
  color: black;
}
 
 .h:hover{
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    transition: 0.3s ease transform;

} 
a{
    text-decoration: none;
    color: black;
}
.li {
    animation: 2s anim-lineUp  both infinite ;
    animation-direction: alternate; 
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 1;
      transform: translateY(80%);
    }
    20% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  
  
 
  
